<!DOCTYPE html>
{% load static %}

<html>

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>Recipe-Builder | Login</title>

<link rel="stylesheet" href="{%static 'css/rbLoginCSS.css' %}">
{% load static %}


</head>



<body>


<ul>

   <li><a href="/home">Home</a></li>

   <li><a href="/product">About Us</a></li>

   <li><a href="/login">Log In</a></li>

   <li><a href="/sign_up">Sign Up</a></li>

</ul>



<div>

   <h1>Log In</h1>

</div>


<!--need to add location for action-->

<form action="login" method="post">

  <div class="container">
    <p><label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required></p>

    <p><label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required></p>

    <button type="submit">Login</button>

  </div>

</form>





</body>

</html>
