<!DOCTYPE html>
{% load static %}

<html>

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>Recipe-Builder | Form</title>

<link rel="stylesheet" href="{%static 'css/rbFormCSS.css' %}">
{% load static %}

<!--https://www.codeproject.com/Questions/1185082/How-to-create-input-field-with-a-button-click-->
<script type="text/JavaScript">
   var counter = 6;
   function createNewElement() {
       // First create a DIV element.
      var txtNewInputBox = document.createElement('div');

       // Then add the content (a new input box) of the element.
      txtNewInputBox.innerHTML = counter + ") " + "<input type='text' id='newInputBox' name='ingredient'>";

       // Finally put it where it is supposed to appear.
      document.getElementById("newElementId").appendChild(txtNewInputBox);
      counter++;
   }
   </script>



</head>



<body>



<!-- Add in about/login/sign up later -->

<ul>

   <li><a href="/home">Home</a></li>

   <li><a href="/product">About Us</a></li>

   <li><a href="#login">Log In</a></li>

   <li><a href="#sign_up">Sign Up</a></li>

</ul>



<div>

   <h1>What Ingredients Do You Need?</h1>

</div>



<form action="/recipeBuilder/addToList" method="post">
  {% csrf_token %}
   <label for="ingredient"><h2>Please enter your recipe's ingredients below:</h2></label>

      <div id="newElementId">

            <p>1) <input type="text" id="ingredient" name="ingredient"></p>
            <p>2) <input type="text" id="ingredient" name="ingredient"></p>
            <p>3) <input type="text" id="ingredient" name="ingredient"></p>
            <p>4) <input type="text" id="ingredient" name="ingredient"></p>
            <p>5) <input type="text" id="ingredient" name="ingredient"></p>

      </div>

      <div><input type="button" value="Add An Ingredient" onclick="createNewElement();"/></div>



   <h2>Please enter your current location.</h2>

   <div>

   <label for="city"><h3>City:</h3>

   <input type="text" id="city" name="city">

   <label for="state"><h3>State:</h3>



   <select id="state" name="state">

      <option value="alabama">Alabama</option>

      <option value="alaska">Alaska</option>

      <option value="arizona">Arizona</option>

      <option value="arkansas">Arkansas</option>

      <option value="california">California</option>

      <option value="colorado">Colorado</option>

      <option value="connecticut">Connecticut</option>

      <option value="delaware">Delaware</option>

      <option value="florida">Florida</option>

      <option value="georgia">Georgia</option>

      <option value="hawaii">Hawaii</option>

      <option value="idaho">Idaho</option>

      <option value="illinois">Illinois</option>

      <option value="indiana">Indiana</option>

      <option value="iowa">Iowa</option>

      <option value="kansas">Kansas</option>

      <option value="kentucky">Kentucky</option>

      <option value="louisiana">Louisiana</option>

      <option value="maine">Maine</option>

      <option value="maryland">Maryland</option>

      <option value="massachusetts">Massachusetts</option>

      <option value="michigan">Michigan</option>

      <option value="minnesota">Minnesota</option>

      <option value="mississippi">Mississippi</option>

      <option value="missouri">Missouri</option>

      <option value="montana">Montana</option>

      <option value="nebraska">Nebraska</option>

      <option value="nevada">Nevada</option>

      <option value="n_hampshire">New Hampshire</option>

      <option value="n_jersey">New Jersey</option>

      <option value="n_mexico">New Mexico</option>

      <option value="n_york">New York</option>

      <option value="n_carolina">North Carolina</option>

      <option value="n_dakota">North Dakota</option>

      <option value="ohio">Ohio</option>

      <option value="oklahoma">Oklahoma</option>

      <option value="oregon">Oregon</option>

      <option value="pennsylvania">Pennsylvania</option>

      <option value="r_island">Rhode Island</option>

      <option value="s_carolina">South Carolina</option>

      <option value="s_dakota">South Dakota</option>

      <option value="tennessee">Tennessee</option>

      <option value="texas">Texas</option>

      <option value="utah">Utah</option>

      <option value="vermont">Vermont</option>

      <option value="virginia">Virginia</option>

      <option value="washington">Washington</option>

      <option value="w_virginia">West Virginia</option>

      <option value="wisconsin">Wisconsin</option>

      <option value="wyoming">Wyoming</option>

   </select>



   <label for="zip"><h3>Zip Code:</h3>

   <input type="text" id="zip" name="zip"><br>

   </div>


   <br><p><input type="submit" value="Submit"></p>

</form>


<img src="{%static 'css/Recipe-Builder.png'%}" class="center">







</body>

</html>
